<section>
  <article>
    <p>What was daily life for people in Cambodia after the Khmer Rouge fell? An American goes to Cambodia and meets a local aid worker who grew up in the midst of the following twenty years of civil war. From childhood to manhood, Chai's story. As it is told, as it unfolds. Few people speak of these things.</p>
  </article>
</section>
<section>
  <!--<a id="audio" href="https://soundcloud.com/pedroveracio/chais-story/s-rYqTg" target="_newtab">Listen to Chai's story</a>-->
  <iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F79318585&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
</section>