<section>
  <article>
    <p>What was daily life for people in Cambodia after the Khmer Rouge fell? An American goes to Cambodia and meets a local aid worker who grew up in the midst of the following twenty years of civil war. From childhood to manhood, Chai's story. As it is told, as it unfolds. Few people speak of these things.</p>
  </article>
</section>
<section>
  <iframe width="50%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F79318585&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
</section>
<div id="accordion">
  <h3>Chai's Story - Preface</h3>
  <div>
    <p>I have a story you should know.</p>
    <p>In 2009 I went to Cambodia and over the course of several months, I interviewed a local aid worker and engineer, Chai. He had been born after the genocide, during the Vietnamese occupation in 1982 or 1983.</p>
    <p>We’re not exactly sure.</p>
    <p>At the time my question was, “What was life like for the villagers? What is the story of the common people who lived daily life through nearly thirty years of civil war?”</p>
    <p>I got more than I asked for and while I have edited this content as much as possible, more sensitive listeners should take heed.</p>
    <p>What follows is his story as told to me.</p>
  </div>
  <h3>1 - The Cow</h3>
  <div>
    <p>One of his first memories was of a cow stepping on a landmine.</p>
    <p>The morning had started like any other riding his uncle's shoulders out into the rice field to work. There had been the long monsoon nights peppered with gunfire from the jungle and the sounds of his parents fighting with each other. His crib, a hammock or a pillow.</p>
    <p>But then they divorced and the house was torn down and its materials were divided. With his father gone to another village, his mother’s family stepped in to help.</p>
    <p>So that morning walking along the embankment, his uncle's shoulders got tired and Chai was put onto the cow in the back. They loped into the fields--always a cow in the lead, then the uncle, then Chai on the back of another cow.</p>
    <p>The first cow absorbed most of the impact from the landmines explosion but his uncle was also hit bad. Had his uncle’s shoulders not gotten tired, Chai too would have been badly scorched and hit by shrapnel and pieces of cow. He had been lucky.</p>
    <p>He remembers his uncle screaming--run for help. Run for help. And so Chai ran back to the village where the elders assembled a stretcher from bamboo poles and a hammock and ran back to the field.</p>
    <p>They carried his uncle through twenty miles of jungle roads to the clinic.</p>
    <p>A few weeks later, his uncle was back in the fields--his eye and his face bandaged. Though things heal slowly in the tropical heat, one must work. Most of his vision completely gone, he had a family to feed.</p>
    <p>To quote Chai, “Even if someone have accident with the landmine, one must work.”</p>
  </div>
  <h3>2 - The Baby</h3>
  <div>
    <p>By day, it was fear of the Vietnamese soldiers. By night, it was fear of the Khmer Rouge.</p>
    <p>Many times, the Khmer Rouge would come to fight. Sometimes to raid the village's market so they could have batteries for their radios or medicine. Sometimes, to steal a cow. Always always--for gold. Because there was no good money, gold was the way.</p>
    <p>One night, there was a battle, and a funny story.</p>
    <p>His mother had not grown up with the sounds of gunfire, so it was always her that would wake up the children when the shooting started. She would shake them awake to the flashes of light through the window and the boards and then the family would flee to the trench by the side of the road where they would hide.</p>
    <p>This one night, Chai had caught lice and so his head had been shaved and the stubble had a way of getting stuck and tangled in the mosquito net like velcro.</p>
    <p>And when the battle began, his mother woke the children and grabbed the pillow with the baby in it and was crying, "Why are you so slow! Go! Go! Go!"</p>
    <p>And Chai, his head tangled in the the mosquito net like a fish in a net, shouted to his sister to go. But she being scared, shouted, "No, you go first!"</p>
    <p>His mother couldn't wait--there was no time--so cradling the pillow with the baby she rushed down the steps and hid in the trench. Chai, caught in the mosquito net, pushed his sister out the door and himself, tumbled down the steps, dragging the mosquito net down along with him. With luck and the sound of bullets, they all made it to the trench and hid--just as the Khmer Rouge soldiers passed by on the road above them.</p>
    <p>Many times the Khmer Rouge would burn a house--simply to do so--but this time they were lucky. They were neither seen nor the house burned. And as the Khmer Rouge retreated back into the jungle, his mother looked felt about the pillow for the baby--but there was no baby. Her heart exploding, her fingers clutching at the pillow--where was the baby?</p>
    <p>When they came back to the house, the baby was there, on the floor. He had fallen out of the pillow. His mother was forever upset because what if the Khmer Rouge had decided to burn the house? But the Khmer way is to laugh. And that morning around the cooking fire they laughed about this--and would laugh about this for years to come.</p>
  </div>
  <h3>3 - A Note on Laughter and Pain</h3>
  <div>
    <p>In Khmer culture it is important to learn, early on, to laugh at pain. I spoke with an American doctor at some length about this and he told me that it’s common for the locals to manifest emotional pain as physical pain. So instead of being distressed over a situation, they’ll feel physical soreness like back pain or a pain in the chest.</p>
    <p>Also as it was told to me, it’s a slapstick culture. A common joke will be to sneak up on someone and punch them really hard in the leg or swat them on the back of the head. Usually, the one who was hit is laughing the hardest. Sort of a “‘oh ho ho ho... you got me’ sort of thing.”</p>
    <p>Perhaps to underscore the point--a khmer friend of mine had a broken rib from a motorcycle accident. After refusing assistance I kind of insisted to him, “Hey man. This isn’t a joke.”</p>
    <p>He gestured at his rib, shook his head, smiled, and said “No. This is a real joke.”</p>
    <p>Anyhow--I must admit that I struggle with this concept. How, as a family just a few hours after a Khmer Rouge raid, the sun rising, filling their bellies for a full day’s of hard work in the fields--they’re laughing about how close they were to the unspeakable happening.</p>
    <p>Maybe I’m missing the point, with the funny part being about his head caught in the mosquito net, like velcro.</p>
  </div>
  <h3>4 - Chores</h3>
  <div>
    <p>His mother supported three children and even though it is traditionally the man’s work, she could make the ploughshares that tilled the field. And while Chai was younger than his sister, he had to take on a man’s workload. Always, there was work in the fields.</p>
    <p>It was also his job to feed the chickens and collect and chop up the vegetables to feed the pigs.</p>
    <blockquote>
      <p><b>Chai:</b>  But I always one of the lazy men so sometimes--I, I younger than her but I--my physical--I much bigger than her. Sometimes I just relaxing and ask my sister to do these things. With my sister I am the bigger but I am younger than her but my physical ability is more than her--I would fight her and scare her. But later on she has the fingernail longer than me--she get stronger than me.  She is fighting me and scratching me with the fingernail.</p>
      <p><b>Peter:</b>  [<em>laughs</em>] so there's justice</p>
      <p><b>Chai:</b>  yeah there's justice.</p>
    </blockquote>
  </div>
  <h3>5 - The Recycling Man</h3>
  <div>
    <p>There was a man with a bicycle and a bell and a basket who would come to the village. He was the recycling man and although he never had much money, he had candy for the children. Sugar, in a world where you could see the ribs of even the 'rich' children, was a precious thing.</p>
    <p>Although the Khmer Rouge would come into the village, more often they would simply shell. They would wait for the times of the day when they knew that many people would be in one place, like lunchtime. They would send a spy to watch the market or the military headquarters in the village, and he would use his radio to call in the shells.</p>
    <p>For the children, the sound of mortar rounds coming in--the high-pitched whistle of a round, they would instantly know if it would land near or far. If near, they would scatter and throw themselves down to the ground. If far, they would run for their shovels. For sometimes, the round would not go off. And there the older children would show the younger children how to dig the unexploded mortar round out of the ground and take it apart.</p>
  </div>
  <h3>6</h3>
  <div>
    <p>Every part of the round had a use.</p>
    <p>The heavier metals from the tip of the shell, maybe containing something as precious as aluminum, could get a child a whole bag of candy.</p>
    <p>There was a day when Chai heard the sound of the bell and he had no metal to trade. But so hungry for some candy, he stole the copper tea pot and ran to the man who gave him some precious pieces of candy. Later, when his mother discovered the missing pot, she asked him and he said, "Ohh... I went out past the field to go poo and when I came back someone had stolen it."</p>
  </div>
  <h3>7</h3>
  <div>
    <p>The children played marbles with bullets. Whoever would flick the bullet closest to the pile of assorted treasures in the middle would win those treasures. One time, the Khmer Rouge began shelling--but the children , crouched on their heels in a circle, were so absorbed with the game of marbles, they paid no attention to the sound. The other boy's bullet crept within a millimeter of the treasure--and so he jumped up, clapping his hands in victory. The round exploded right behind him, throwing him twenty feet, killing him instantly.</p>
    <p>Chai tells me many times, "these things I still see with my eyes like they are happening now." Like the Uncle and the cow, his friend winning at marbles is another.</p>
  </div>
  <h3>8 - The Old Ways and the New Ways</h3>
  <div>
    <p>Every part of the round had a use.</p>
    <p>The old way of fishing, the ancestor's way, with a long reed and some string and a hook, or traps or nets was a slow way. With the bombs there was a new way. With just two hours of work maybe, filling old cans with explosives and then paddling out into a pond, one could get forty pounds of fish. After the explosion, the fish would be scarred from the bomb's chemicals, but the new way was much faster. Many times, people would have accidents with the fishing bombs. It was when the bomb wouldn't go off, and when they would reel in the can of explosives and try to fix it, then they would have a  problem with the explosion.</p>
    <p>Every day to get food was work. Chai loved helping his mother feed the family--sometimes by working in the field or by fishing or by hunting. And hunting too, there was a new way. One would simply burn the jungle and wait downwind with a gun and shoot the animals fleeing the forest.</p>
    <p>Sometimes too, to kill a frog with a gun, was a good joke.</p>
    <blockquote>
      <p>"They don’t want to use traditional tool like arrows or sticks to kill the frog. Because they have the gun in their hands—even though it is a small frog—use the gun to kill it."</p>
    </blockquote>
    <p><strong>Medicine</strong></p>
    <p>Generally only if someone stepped on a landmine or was bitten by a poisonous snake, only then would they travel the long way to the doctor. Well--there were no doctors. There was a clinic with nurses skilled with some of the new ways and some of the old ways. Because so much of the science had been lost, if someone had malaria or dengue, they didn’t have anything to treat it.</p>
    <p>Oftentimes the villagers would scrape the bark or dig out the root of a certain tree to make a bitter tasting broth, because the taste of the soup reminded them of medicines from long before. Because the taste of the bark was similar, they hoped it was the same chemical.</p>
    <p>Many, many people died this way, Chai tells me. In those days, many people didn’t even have mosquito nets.</p>
    <p>Sadly this state of affairs still continues. Many people just assume that that they would never even be able to afford any sort of treatment. The doctor I spoke with told me that at the children’s hospital he sees it all--and only when the kids are absolutely on death’s door do they show up.</p>
    <p>Whether it’s pneumonia, malnutrition, road accidents, landmines, dehydration, violence, or even mysterious jungle fevers... Sometimes they never find out what it is--there’s no time to see what the lab results will be. The doctors just put fluids in them and hope they turn around.</p>
    <p>It’s not uncommon even to see tetanus.</p>
  </div>
  <h3>9 - Mines</h3>
  <div>
    <p>Everyone had mines. The Khmer Rouge, the Vietnamese, even the village. Sometimes, many times--every day, people were having accidents with the landmines. The children didn't fear the landmines. They were so much a part of daily life, like the shelling--it was something that just happened.</p>
    <p>Many times a villager would place landmines at night to protect the village from the Khmer Rouge. Then they would get drunk and then forget where they had put the mine and the next morning</p>
    <blockquote>
      <p>“someone would have an accident with the landmine.”</p>
    </blockquote>
  </div>
  <h3>10</h3>
  <div>
    <p>The Khmer Rouge would place landmines in the roads for the many Vietnamese convoys. And the children loved the smell of the diesel exhaust from the big trucks. Like huffing. And so the children would dig up the road, hoping a truck would get stuck so, hiding by the side of the road, they could bask in the exhaust from the truck.</p>
    <blockquote>
      <p>"So we tried to follow and tried to catch the smoke smell, you know, and now sometime when my mum, she saw, she stopped and she hit me because she know its not good. Its not safe. The truck can kill."</p>
    </blockquote>
    <p>But one time the children were fishing by the side of the road and a Vietnamese convoy rumbled past, the lead truck hit a mine that had been planted by the Khmer Rouge. Many soldiers were killed in that explosion. And hearing the explosion, the children ran--thinking maybe it was from shelling and an attack was about to start. When the Vietnamese soldiers saw the children running away across the field, they thought that the children had planted the bomb, and so they started shooting.</p>
    <p>Chai crawled on his belly as the bullets whizzed over his head. When the children finally made it to safety in the jungle there were two less of them. A boy and a girl lay in the field.</p>
    <p>A line of trucks, one burning. Soldiers stalking across a field towards two dead friends, seven and nine years old.</p>
    <p>These things--he still sees like they are happening now.</p>
  </div>
  <h3>11 - A Good Day</h3>
  <div>
    <p>The best day of his life was a day when his mother was able to buy him some new clothes for school. While working in the fields was fun, always, always, his mother preached education. Mornings he would work. Evenings, school. Having the clothes, maybe pants or a shirt--never shoes--always made him feel less poor. This was the best feeling: to have something nice for a while.</p>
    <p>And mother would insist: education. With education comes these things.</p>
    <p>The richer kids would pay him to help them with their schoolwork with candy or salvaged trinkets of use.</p>
  </div>
  <h3>12 - "And then I Become a Cowboy"</h3>
  <div>
    <p>The older people always warned the children that to deep into the jungle was to risk facing the tiger, the crocodile, or the ghost. Seven or eight, maybe, Chai was old enough and responsible enough to take the cows to forage in the forest. Being the youngest of the boys leading a trail of cows into the jungle, he was marked for education from the older boys.</p>
    <p>His first lesson came when it came to crossing a deep river. The older boys instructed him to, “Let the cow tow you. Hold onto its tail.”</p>
    <p>And so Chai grabbed onto the cow’s tail and was kicked and amidst laughter, one of the older boys dove into the waters to drag the unconscious Chai out of the water.</p>
    <p>Lesson two was that whenever it was Chai's turn in the water, the older boys would shout, "Oh! Oh! Crocodile!"</p>
    <p>Lesson three was that while the boys napped or swam at the waterhole, it was Chai's job, being the youngest, to look after all of the cows.</p>
    <blockquote>
      <p>“But they never take care of the cow. they come to just have fun with their friends, with all this group, and me--take care of the cow. when they are eating sometimes, when my mom was packing good food, for me they ask me to join. but for me my mom was not packing tasty food, I used to eat alone. when they ask me to join they grab all of my food and let me eat only the rice.”</p>
    </blockquote>
    <p>For these lessons or jokes, Chai was never angry. They simply made one tougher for life.</p>
    <blockquote>
      <p>"I never have shoes. I think my footprint are very much thicker. by itself.</p>
      <p>when we step on the thorn, I never feel the hurt from the thorn. the thorn will break. unless it's a long thorn then I hurt from that. it already becoming like, I don't know how to say -- like your finger when you're working?"</p>
      <p><b>Peter:</b>  Calluses.</p>
      <p><b>Chai:</b>  Yeah calluses--they become harder. they tough. yeah. so--we never need to use the shoes or the flip flops to prevent all those thorns...</p>
    </blockquote>
    <p><strong>Ghosts</strong></p>
    <p>Now in those times, the threat of ghosts in the jungle was not an idle one from the elders. In such a world, ghosts are common--and the two places where ghosts are the most common are the Banyan tree and the water. For under the shade of the Banyan tree it is where monks cremate the bodies--and it is not uncommon when passing under such a tree to hear voices or to smell incense.</p>
    <p>And with the water, if anyone drowns--and drownings are common for the monsoon waterways are treacherous, it is said that if a body is left in the water for too long--there the spirit will wait. If a Khmer is to stop by the water and look into the water for too long, the spirit will trade places with you. And then it will be you, there, trapped under the water. While someone else walks around the world in your body.</p>
    <p>And one time the boys left Chai alone with the cows. And as the day grew longer and darker the cows lead him to a hill. And at that hill he heard the call of the bird of portent--the jungle bird whose name means death in Khmer and then saw it high up in the trees. And he felt a shiver--and rounded up the cows and took them to brighter places.</p>
    <p>And when he came home he told the elders and they told him, "Oh... You very brave to go to that place. That hill is no ordinary hill. It is where they put the Vietnamese soldiers who have died."</p>
  </div>
  <h3>13</h3>
  <div>
    <p>There was another place--a pond with a Banyan tree, its roots outcropped into the water. And one evening the boys went there to swim. And when it grew dark, the smelled incense and it was time to go. And passing under the tree they heard a howl and looking up, saw the ghostly white shape of a woman cradling a baby standing on a tree branch. So they ran. And Chai's friend--the one who had gotten a bad injection and a shriveled leg trailed far behind the other boys, screaming for his life.</p>
    <p>Many good jokes came out of that one and the boys would cry out, "Wait up wait up! Don't let the ghost get me!" to the boy with the shriveled leg.</p>
  </div>
  <h3>14 - On Studying</h3>
  <div>
    <p>To study in such times was difficult. Sometimes, often in school, the alarm would go up and shots would come from the jungle. From there on out it was every child for themselves, and they would flee from the school and hide in the jungle until the danger had passed.</p>
    <p>And this was in the time when there was great resistance from the Vietnamese soldiers. So often--the general Hun Sen's soldiers would leave a body wrapped in a hammock at the gate of the school. The resistance soldiers were too busy fighting, and to put a dead soldier a long way from home into a truck was simply impossible. So the monks would come to the school and gather the bodies, and morning schoolwork often meant a time for the children to gather wood from the forest--to make a box and to fuel the cremation.</p>
    <p>And one morning there were two bodies there in the schoolyard and the children gathered the wood and built the boxes. But as they carried one of the soldiers in his box to the Banyan tree in the Pagoda where he would be burned, the box broke and he fell out. The nails were good and the wood was good and so they fixed the box and began carrying him again.</p>
    <p>But again the box broke and the soldier fell out of the box--and this time the elders were frightened--so frightened that one of them jumped from the balcony and shouted at the at the dead soldier, "We are only trying to help you! We are not the ones who killed you! Why bother us? Go somewhere else!"</p>
    <p>It seemed to work--and they fixed the box and took him to the crematorium without further incident.</p>
  </div>
  <h3>15 - The Missionaries</h3>
  <div>
    <p>Before the missionaries from the Philippians arrived, the children and even most of the elders thought that the whole world was Khmer. There not far from the village, they built a church. They had food. So in exchange for listening to a story and sweeping the floor or helping build something, the children got food.</p>
    <p>Never before was the getting of food so easy. All they had to do was pray to Jesus in front of the missionaries and they would be fed. From this also, Chai learned the basics of English: "Hello, OK, bye bye."</p>
  </div>
  <h3>16 - The Dragonfly</h3>
  <div>
    <p>The whole world was not Khmai. And one day it never became so clear when the children were in school and they heard a deep whopping and a rumbling sound. And running out into the schoolyard and looking up, a giant white metal dragonfly passed overhead.<p>
    <p>"Is it a god?" One of the children shouted over the sound.</p>
    <p>"No. It is a metal flying machine." replied the teacher.</p>
    <p>The villagers and the children all ran out to the field where there, the dragonfly hovered and descended, its metal skids sinking deep into the monsoon-rain soaked-mud.</p>
    <p>"And that is the first time I see the foreigner. The tall man with the white skin and the long nose." Chai tells me. It was a United Nations helicopter, and the men had been given the wrong directions to land. A few of the bravest villagers waded through the mud and touched the white, gleaming metal.</p>
    <p>And with a roar of the engines, the metal dragonfly struggled and managed to lift itself out of the mud. And as the villagers ran away there was a good joke--for the wind from the helicopter lifted the skirts of the women and "everyone could see their white butts," he tells me with a laugh.</p>
    <p>Away the dragonfly went, and the war continued.</p>
  </div>
  <h3>17 - The Land Rover</h3>
  <div>
    <p>And it was in the same season that the children saw a white land rover--also with the white paint and the blue "UN" stenciled on its side, stuck deep in the mud with its tires spinning.</p>
    <p>The children ran up and a tall foreigner stepped out into the mud and surveyed the children. And this is where Chai's "Hello, OK, bye bye" came in helpful. And through pantomime and the most simple of English, "one, two, three!" the children helped push the landrover out of the mud.</p>
    <p>And before the children could leave him to be on his way, the man asked Chai. "Where do you live?"</p>
    <p>"Not far," said Chai in English.</p>
    <p>And if there was ever a moment in time that changed Chai's life, this was it. For there his mother was, back stooped, working in the field when she looked up and saw the white land rover pull up to the house. And there! A foreigner! And there! Her boy jumping out of the white land rover.</p>
    <p>And for many years afterwards his mother would exclaim this moment. "Who is this? My son speaking the strange language! Riding in a white truck with the foreigner!"</p>
    <p>Later, piecing things together, Chai learned that this was 1992. And the man was traveling from one village to another, trying to help with the first democratic elections in years. But he would always remember this moment. And if a moment can give rise to a dream, this was it. For he wanted to be like this man. Out in the middle of nowhere putting it all on the line, trying to help poor people.</p>
    <p>Perhaps this and perhaps his time later, working as a tourguide amongst the ancient ruins of the old empire--the towering carved blocks etched with bas reliefs and the old language--perhaps these things gave rise to his dream of becoming an engineer. To help people. To build things that last.</p>
  </div>
  <h3>18</h3>
  <div>
    <p>While the UN came with its glimpses of white land rovers and helicopters, the fighting wouldn't truly be over for years.</p>
  </div>
  <h3>19 - Lumber</h3>
  <div>
    <p>To make money, one would cut down trees and sell the wood. First would go the jungle trees near the village and farm, and then further and further out as the jungle gave way to the axe and the tractor. But the further out one would go into the jungle, the more chance of having an accident with landmines. It is still this way for many people, as the neighboring countries are enjoying a construction boom of sorts.</p>
    <p>This is the way that Chai's uncle had another accident with a landmine. This time he and a friend drove a tractor over a big one, an anti-tank mine. Both were lucky. His uncle lost his vision again and his friend lost an arm. Never so crippled that they couldn't work and so work they did in the time after. One must eat. One must feed a family. And so with these injuries one would work slower, but still, one would work.</p>
  </div>
  <h3>20</h3>
  <div>
    <p>His father came back and the family moved to another village. A larger village where they were strangers but where maybe, the opportunities would be better. In a time where anyone new could be a spy for the Khmer Rouge, fitting in at first, was difficult. But they got along. Perhaps it was his mother's skill with making rice wine, maybe it was nothing new. Refugees had begun coming back into the country and so--a new family rolling into the village on an oxcart,  building a house, clearing a field, nothing new.</p>
    <p>"We clear a field, the Khmer Rouge come and burn that field. We build a house, they come to burn the house."</p>
    <p>Years later when Chai tells me this, there is still frustration and sadness in his voice. Always it was a struggle just clearing enough land for a field to feed the family.</p>
  </div>
  <h3>21 - The Crane</h3>
  <div>
    <p>There was one time when Chai and his uncle were out on the oxcart and a crane flew over them. Because his uncle helped with the village’s security, he had a gun and so he shot it.</p>
    <p>Out from the jungle came the Khmer Rouge, surrounding them.</p>
    <blockquote> 
      <p>“So they threatened my uncle and they were wanting to kill my uncle they yelled and we were all begging and we were apologizing because we wanted the crane for food and we didn't know that the Khmer Rouge was hanging around the place.”</p>
    </blockquote>
    <p>This was a time when there was pitched fighting between Hun Sen’s Soldiers and the Khmer Rouge, and so the Khmer Rouge accused them of sending military signals with the gun. This was a common thing at the time, guns being used to signal troop movements.</p>
    <p>Perhaps the evidence of the dead crane saved them.</p>
  </div>
  <h3>22 - The Mystery of the Cow</h3>
  <div>
    <p>Another time the Khmer Rouge came and there was more threatening and gun pointing, but in the end they ended up taking the cow.</p>
    <p>Some time later, the cow wandered back home.</p>
    <blockquote>
      <p>“the cow come back to the village because they cannot control it.”</p>
    </blockquote>
    <p><strong>IKR</strong></p>
    <p>Sometimes the Khmer Rouge didn’t always show up for a crane or a cow, batteries, gold, or medicine.  One time, they came for him and gave him a choice.  "Die here or join us," they said.</p>
    <p>He fought in the jungle for six months.</p>
    <p>Living in the jungle, he climbed tall trees picking the spiny, sour jungle fruits. He dug fist-sized spiders out of holes in the ground to be cooked over an open fire.</p>
    <p>He would jam a stick into a hive of red ants and furious at the intrusion, the red ants would attack the stick and clamp on to it with their long pincers. Then he would pass the stick over a fire and enjoy the spicy, tart taste of ants on a stick.</p>
    <p>Another way to do it would be to simply grab the whole nest of ants, which look like a large, white cocoon hanging from the jungle plants, and toss it whole into a pot of boiling water.</p>
    <p>Anyhow. His gun was taller than he was. And he used it. Before the age of 13 he had fought and killed and seen too much. Lost many more friends to bullets, landmines, dengue, and the jungle.</p>
    <p>I’m sorry but I can’t tell you very much about this time.</p>
    <p>During one of our last sessions I tried to bring it up -- I pressed him on the issue and he got physically sick. After some time, we ended the session and went for a long walk.</p>
    <p>To get out, to escape, he made up a story. Because the Khmer Rouge were also just simple village people far from home, they thought about their families. So when he told them that he had gotten word that his grandmother was dying and that he had to go home to see her off, they let him go.</p>
    <p>Maybe they believed him. Maybe the fighting had gone on for so long, they were just tired. And knew. So he found his way home.</p>
  </div>
  <h3>23 - Chai's Song</h3>
  <div>
    <p>We were riding in the back of the truck through Angkor Wat during one of the floods blasting a popular Khmer song on Chai's cellphone.</p>
    <p>"Young Scoundrel's Tear."</p>
    <p>Simple guitar and a haunting voice full of regret.<p>
    <blockquote>
      <p>I.<br>
        A quiet night<br>
        Lost all the brightness of the moon<br>
        Seems like I'm alone without father<br>
        Open the room's door<br>
        Couldn't see him again</p>
      <p>Even the soft voice<br>
        I couldn't hear</p>
      <p>II.<br>
        When dad was alive<br>
        I've done a lot of faults<br>
        When dad stopped breathing<br>
        I start to miss him and regret</p>
      <p>My tears call from the distance<br>
        The Buddha please forgive to my dad to be back with me.</p>
      <p>III.<br>
        When dad stops breathing,<br>
        My tears drop down and hug mom,<br>
        Dad please don't worry,<br>
        Please leave with goodness,<br>
        I'll change everything,<br>
        Doubled repay favors for mom<br>
        All of the mistakes I've done toward them.</p>
      <p>IV.<br>
        I kneel down and bow down to farewell dad,<br>
        Farewell comfortable life,<br>
        That dad used to take a very good care,<br>
        Whenever I do wrong<br>
        He never scold me<br>
        The last will<br>
        My son amend up</p>
      <p>You should glorify our family fame again,<br>
        I hope all dear friends won't follow my faults</p>
      <p>The remorse<br>
        Will scold me</p>
    </blockquote>
  </div>
  <h3>24 - Chai's Dream</h3>
  <div>
    <p>The waters were so deep that the truck seemed like more of a boat than a truck. The wake of the truck would splash up at the motorcycles knee-deep in the water. Instead of irritation, the people would laugh as the wake splashed them.</p>
    <p>And then he told me his dream: to build a library.</p>
    <p>Seeing the amputees, the children begging on the streets, the packs of men just stuck in the grinding poverty of post-war Cambodia, this seems like an impossibility. But then again, here I was talking to an engineer who had pulled himself out of one of the poorest villages and a war. Someone who had helped rebuild schools and clear minefields and when one has accomplished this--what else is possible?</p>
    <p>Back to the villages and back to the time.</p>
  </div>
  <h3>25 - And then he became a soldier.</h3>
  <div>
    <p>In these days, a village would normally only have one or two guns to defend itself--provided by the government. This was after the elections, and there was a struggle for power between the king's men, the prime minister's men, and the Khmer Rouge. For the villages, politics was fueled by rumor and simply, who was shooting a them at any given time.</p>
    <blockquote>
      <p>"If ten people were saying something, then we could know it was true."</p>
    </blockquote>
    <p>All the boys of fighting age were forced into service. Even boys studying to be monks were stripped of their robes and conscripted.</p>
    <p>"Those days there wasn't training like now. If we hear shooting, we just run over to where the shooting is and shoot back. And always the older people make me feel good about being a soldier. They say, 'Oh! You got that guy so fast! You're very quick with the gun! You're very brave!'"</p>
    <p>"Many times we try to shoot just to injure them so we can capture them. And when we capture them we sometimes torture, sometimes kill. Mainly the idea is to impress upon them that they don't have to have the way of the fighting. That they should stop."</p>
    <p>He tells me of how they would try to shoot people in the leg or in the foot. That way, they wouldn’t die and there wouldn’t be revenge killings.</p>
    <p>For Chai--to be a man with a gun was to have success. Power. "I very much liked my time as a soldier. But my mother tells me, 'this fighting won't go on forever--who will you be as a military man in a time of peace? In a time of peace, the man who is respected--the man who has money and can do good things is not the man with the gun, but the man with education.'"</p>
    <p>So after some months, her arguments won out. He put down the gun and from then on, focused on the education.</p>
    <blockquote>
      <p>Sometimes when I'm in the groups most are friends very much pride and they never thinking about education -- but me even when I was in the military situation I never forget about trying or researching or reading -- I spent most my time reading any paper  any document -- this aware that I have more power -- more chance than the other of my friends -- I can develop myself I can improve myself...</p>
      <p>at that time in the military would work eight hours a day so after that time to time to stay at home -- we would go out the parents go farming -- to help the parents to  some other job --</p>
      <p>after four months I go back to school and make friends school in a so I was a grade 9 -- one time I was a grade 8 and ready to become grade 9</p>
    </blockquote>
  </div>
  <h3>26 - The Best Chai Quote:  The Well</h3>
  <div>
    <blockquote>
      <p>"Without education, it is like being at the bottom of a well. Looking up, you can only see this small hole of light. But with more and more education, you go further up the well. The light gets bigger and you see more and more of the world."</p>
    </blockquote>
    <p>I interviewed Chai over the course of the monsoon season of 2009. Sometimes it meant jumping onto the back of the work truck and riding out to the recently reconstructed ancient Angkorian dam he had helped rebuild. Two years ago it was a minefield and now, a lake. He would make the rounds. With a blunt end of an axe he would tap off the PVC covers of pipes embedded deep into the earthworks of the dam and then drop in a measuring tape.</p>
    <p>He told me, "This way, we can measure how much water is undermining the structure of the dam. How much is escaping."</p>
    <p>That season when the floods came they were unusually strong, washing out roads and testing the newly reconstructed dam's integrity.</p>
    <p>One time after jumping the truck over a makeshift bamboo bridge a few feet across where the road had been completely washed out, we finally hit a gaping river where there was no chance we could get the truck across. So we trudged the rest of the way to the dam. I remember Chai with his calm, slow walk with his axe over his shoulder exchanging rapid-fire pleasantries with the villagers dotting the countryside. Children in rags running out from under the stilted houses waving and shouting, 'helloooo.'</p>
    <p>I asked him, surveying the palm-leaf or tin-roofed constructions in small clearings, always with a small pond and flooded rice fields reflecting the sky's metallic colors stretching away in the back. "Are these houses like the houses in the time when you grew up?"</p>
    <p>"Oh no... These are much nicer than then," he said.</p>
    <p>I lagged behind, taking ineffectual detail notes. "One cow in a field. He looks happy. Here in the trench by the side of the road, a bamboo gate for maybe trapping shellfish or herding fish or something. There, in front of that house, one of the Dutch water filters. An oxcart piled up with wood passes me. A modern scooter with three teenagers with slicked hair and ears to cellphones pass me. The sunset is starting to turn red and gold and the colors reflecting off of the ricefields is ridiculously beautiful."</p>
    <p>Looking ahead I saw Chai far ahead with his axe on his shoulder, a distant dot, singing--his voice just discernable over the sound of the jungle birds.</p>
  </div>
  <h3>27 - End (of Sorts)</h3>
  <div>
    <p>At the time I am writing this, he has shaved his pencil-thin mustache and is standing in a couple wedding photos on my screen with his wife. Soft features both. They both are young--not even thirty yet, but the way the photo was taken, it looks like an old photo. Perhaps it is the inscrutable expressions they have, like old daguerreotypes with 1970's film haze.</p>
    <p>Listening back to the transcripts, I had overlooked the name of the province he says he came from: Oddar Meanchey Province. I look it up. Few houses, to this day, have electricity. It is one of the most heavily landmined parts of Cambodia.</p>
    <p>In the Anlong Veng District of Oddar Meanchey Province the Khmer Rouge held their last stronghold.</p>
    <p>The final resting place of <a id="wiki" href="//en.wikipedia.org/wiki/Pol_Pot">Pol Pot</a> is there.</p>
    <p>The fighting had stopped. Peace had begun in a daze and whole towns and villages were shocked with the absence of the sound of guns. Chai had left his village and gone to school and finished school in the most dangerous place--the pagoda--where the poorest of the poor came for help and one had maybe a hardwood floor to sleep on. Early in the mornings he would walk from one side of the city, Siem Reap, all the way to the other--to the school next to the crocodile farm. There he studied and lived amongst newly arrived refugees and thieves--kept his head down--and studied, growing thinner and thinner, living only on the morning bowl of rice from the monks.</p>
    <blockquote>
      <p>the ceremony at the pagoda -- Buddhist ceremony they always happening at the pagoda -- also the accommodation is not very much comfortable -- you live nearby the place like a shrine -- the place where they keep the tomb, the body -- the stupa -- our houses like that in the stupor was around then I feel comfortable because I smell with the incense sticks -- I feel like I stay very close to the  ghost, to the body...</p>
    </blockquote>
    <p>He graduated. He passed the impassible tests that had been designed only to be passed if you bribed the school. But with no money, he passed. He went back home to the village where his mother saw how skinny he had become and felt horrible seeing his ribs but so proud to see the diploma. And so the family spent the next six months fattening him back up to go back to the city.</p>
    <p>The whole village scraped together enough money to get him a motorcycle. It was old--falling apart. Not one of the new ones you see all over the streets with the shiny red fiberglass exteriors. It had a working headlight and brakes, one of the scooters defined by the bulbous gas tank and the rust patina.</p>
    <p>So off to the city he went and because of his English, he became a tour guide. Walking the tourists from all over the world through the ancient Khmer ruins with their big cameras, safari hats, and sunglasses. More study until he could trace his hand across a wall of old figures and Sanskrit and tell the old stories. But the pay wasn't steady and in the season when the rains fill the streets--there--he found work at the guesthouse where then, things fell into place.</p>
    <p>She was a schoolgirl and wore the uniform and every morning and after school, she walked past the guesthouse on the dirt road. It was instant love but Chai was shy. So he whispered 'I love you' through the ivy in the gate and for quite some time, the girl didn't know who loved her. But every morning and evening coming to and from school, there was something about his voice--and having glimpsed him from time to time--hoped it was him. Chai with his lazy eye had the luck of being a good looking young man--a slow walk, a good jaw, an honest face. If times and talents were different and he was in a band, he would be, "the cute one."</p>
    <p>He was poor but she liked him. Being shy, he asked his friend to ask one of her friends who reported back that yes--she liked the boy who whispered to her through the gate. She being from a rich family and him being from a poor family, he took her to a nice restaraunt. He couldn't take her out very much--each date was something he would have to save up for--scrimping and saving from maybe a dollar a day from his wages at the guest house. So by the time she found out he was poor, it was too late. She liked him. It would be years and years before the two conspired that Chai meet her family. Until then, as the Cambodians say, "mui jim hein madong mui jim hein madong." Step by step. Bit by bit. They were building something.</p>
    <p>They married. And -- I really really hope that they live happily ever after.</p>
  </div>
  <h3>28 - Thank You for Listening</h3>
  <div>
    <p>ty Chai, Dalin & Socheata Chhom, Human Translation, Geoff Martin for editing help, Scott Eaton for web help and Eric Payan for recording this.</p>
  </div>
</div>